<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/shurikoriginal-ru/shurikApp/releases/download/apps/Ozon_._19.27.0_iOS_15.0%2B.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/shurikoriginal-ru/shurikApp/releases/download/apps/Ozon_._19.27.0_iOS_15.0%2B.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/shurikoriginal-ru/shurikApp/releases/download/apps/Ozon_._19.27.0_iOS_15.0%2B.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>ru.ozon.fintech.finance</string>
				<key>bundle-version</key>
				<string>19.27.0</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>Ozon Банк</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
